@media screen and (max-width: 1300px) {

.top_page {
    width: 100%;
    height: 100vh;
    background-size: contain;
}

}

@media screen and (max-width: 1199px) {

/* ========== container ========== */
.container {
    min-width: 100%;
    text-align: center;
    /* padding: 50px 0; */
}
.bg_color {
    max-width: 1200px;
    height: 80px;
}
.container_box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.conbox {
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
    margin: 80px auto;
    padding: 0px 20px 50px;
}

/* ========== footer ========== */
.footer {align-items: center;}
.footerbox {
    max-width: 90%;
    font-size: 12px;
    line-height: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.footerbox_logo {
    width: 100%;
    align-items: center;
}
.spec {
    width: 100%; 
    text-align: center;
    order: 1;
}
.spec, .classlavel {margin: 20px 0;}
a.logo_rw, .classlavel {margin-left: 40px;}


}

@media screen and (max-width: 1024px) {

/* ========== menu ========== */
.topmenu {
    background: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    width: 70px;
    height: 60px;
    border: 1px solid #ddf7ff;
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 300;
}
.topmenu span {
    background: rgba(202, 213, 224, 1);
  width: 40px;
  height: 4px;
  border-radius: 4px;
  margin: 3px 0px 3px 0px;
  transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81), transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.topmenu span:nth-child(2) {
  transform-origin: 50% 50%;
}

.active .topmenu {
  box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -7px -7px 20px 0px #fff9, inset -4px -4px 5px 0px #fff9, inset 7px 7px 20px 0px #0003, inset 4px 4px 5px 0px #0001;
}
.active .topmenu span {
  margin: -2px;
}
.active .topmenu span:nth-child(1) {
  transform: rotate(-45deg);
}
.active .topmenu span:nth-child(2) {
  transform: scale(0);
}
.active .topmenu span:nth-child(3) {
  transform: rotate(45deg);
}

.nav_bar {
    /* display: none; */
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate3d(-1200px, -50%, 0); 
}
.nav_bar::before {
    background: none;
    border: 5px solid #f7decd;
    width: 80%;
    height: 90vh;
}
.nav_bar::after {
    display: none;
}
.nav_bar #XX {
    top: 16px;
    right: 20px;
    transform: scale(1.2);
}
.nav_bar_box {
    width: 80%;
    height: 70%;
    top: 0;
}
.nav_bar_box li {
    font-size: 1.8rem;
    margin: 30px 0;
}
.nav_bar_box li:hover::before, .nav_bar_box li.active a::before {
    top: 15px;
    transform: translate(-165%, -50%) scale(1.2);
    transition: all .5s;
}
ul.item_box{
    margin-top: 20px;
    margin-left: 0;
    align-items: center;
}
ul.item_box li, ul.item_box li:last-child {
    font-size: 1.25rem;
    margin: 12px 0;
}
ul.item_box li {margin: 12px 0;}
.btnIcon li {transform: scale(1);}


/* ========== top page ========== */
.top_page {
    background: url(../img/kv2_m_bg.jpg) top center no-repeat;
    width: 100%;
    min-width: 100%;
    height: 1321px;
    background-size: contain;
    overflow: hidden;
}
.logo {
    max-width: 375px;
    height: 267px;
    background-size: 100% auto;
    top: 80px;
    /* filter: drop-shadow(2px 3px 5px rgba(255, 255, 255, 1)); */
}
.kv_ti {
    width: 95%;
    height: 340px;
    background-size: 95% auto;
    top: 500px;
    margin: 0 auto;
}
.kv_ti::before, .kv_ti::after {display: none;}
ul.btnBox {top: 550px;}

/* ========== container ========== */
.conbox img {width: 90%;}
.btn_schoolgame li, .btn_schoolgame a {
    height: 100px;
}

/* ========== lightbox ========== */
.popbg{
    width: 90%;
    padding: 20px 0 30px;
}

}

@media screen and (max-width: 768px) {

.conbox img.tab4_ph {width: 90%;}
/* ========== menu ========== */
.topmenu {
    top: 6px;
    left: 10px;
    transform: scale(.85);
}
.nav_bar_box {
    width: 60%;
    height: auto;
    top: 0;
}
.nav_bar_box li {
    font-size: 1.125rem;
    margin: 15px 0;
}
.nav_bar_box li:hover::before, .nav_bar_box li.active a::before {
    transform: translate(-120%, -100%) scale(.8);
    transition: all .5s;
}
.btnIcon {margin-top: 70px;}
.btnIcon li {transform: scale(.9);}

/* ========== top page ========== */
.top_page {height: 132.1vh;}
.logo {
    max-width: 300px;
    height: 214px;
    background-size: 300px auto;
}
.kv_ti {
    top: 380px;
    margin: 0 auto;
}
ul.btnBox {top: 400px;}

/* ========== container ========== */

.trbox {
    width: 90%;
    flex-direction: column;
    align-items: center;
}
.trbox_ph, .trbox_txt {width: 90%;}
.conbox img.trbox_ph {
    max-width: 294px;
    height: 100%;
}
.trbox_txt h5 {line-height: 1.8rem;}
span.h5_txt {font-size: 1.5rem;}
.trbox_txt {
    margin-top: 40px;
    margin-left: 0px;
}
p.trbox_txt_p {margin-top: 12px;}

ul.btn_schoolgame {
    width: 90%;
    height: auto;
}
.tab5_btn a {
    font-size: 1.2rem;
    padding-top: 20px;
}
span.tab5_btnB {font-size: 1.5rem;}
span.tab5_btnS {font-size: 1rem;}


}


@media screen and (max-width: 573px) {

/* ========== menu ========== */
.topmenu {
    top: 0;
    left: 0px;
    transform: scale(.7);
}
.btntop {
    width: 45px;
    height: 45px;
    right: 30px;
    bottom: 10%;
    transform: rotate(0deg);
}
ul.item_box li, ul.item_box li:last-child {font-size: 1rem;}
.btnIcon {margin-top: 30px;}

/* ========== top page ========== */
.top_page {
    background-size: 110% auto;
    height: 100vh;
}
.logo {
    max-width: 240px;
    height: 175px;
    background-size: 240px auto;
    top: 40%;
}
.kv_ti {
    height: 240px;
    top: 310px;}
ul.btnBox {top: 280px;}
.btnBox li, .btnBox a {
    width: 130px;
    height: 45px;
    background-size: 130px auto;
}
.btnBox li {
    margin: 0 10px;
}
.btnBox li:hover, .btnBox a:hover {
    width: 130px;
    height: 45px;
    background-size: 130px auto;
}

/* ========== container ========== */

.container_box {padding: 0;}
.conbox {margin: 60px auto;}
.conbox img {
    width: 100%;
    margin-top: 30px;
}
p.trbox_txt_p {
    font-size: 1rem;
    margin-top: 6px;
}
ul.btn_schoolgame {
    width: 90%;
    height: auto;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}
.btn_schoolgame li, .btn_schoolgame a {
    width: 100%;
    max-width: 297px;
    height: 120px;
    background-size: 100%;
    margin: 15px 0;
}
.btn_schoolgame a {
    width: 100%;
    height: 120px;
    padding-bottom: calc((118px / 279px) * 100 + '%');
}
li.tab5_ph1, li.tab5_ph, li.tab5_ph3 {background-size: 100%;}
.btn_schoolgame li:nth-child(2) {margin: 0;}

/* ========== footer ========== */
.classlavel {
    background-size: 100% auto;
    margin-left: 0;}


}